@import '../variables.scss';

.Home {
  width: 100%;
  height: 115vh;
  position: relative;
  display: flex;
  align-items: center;
}

.Home__content {
  width: 45%;
  margin: 1rem 0;
  margin-bottom: 11rem;
  margin-top: 9rem;

  @media only screen and ($mobile-width-landscape) and ($mobile-height-landscape) {
    margin-bottom: 9rem;
  }
}

.Home__shapeWrapper {
  position: absolute;
  width: 100%;
  top: -85px;
  height: 128vh;
  overflow: hidden;
}

.Home__shape {
  position: absolute;
  background-color: var(--primary-color);
  width: 129%;
  height: 128vh;
  left: 48%;
  transform: skew(16deg);

  @media only screen and ($mobile-width-portrait) and ($mobile-height-portrait) {
    left: 65%;
  }
}