{
  "extends": [
    "plugin:react/recommended",
    "airbnb-typescript",
    "prettier",
    "plugin:import/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
    "semi": "warn",
    "react/jsx-props-no-spreading": [
      0,
      {
      "html": "ignore",
      "custom": "ignore"
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error"
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
  }
}
