{
  "extends": [
    "plugin:react/recommended",
    "prettier",
    "eslint:recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["prettier"],
  "rules": {
    "semi": "warn",
    "react/jsx-props-no-spreading": [
      0,
      {
      "html": "ignore",
      "custom": "ignore"
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  }
}
