.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.jc-space-betwen {
    justify-content: space-between;
}

.jc-space-around {
    justify-content: space-around;
}

.jc-space-evenly {
    justify-content: space-evenly;
}

.ai-center {
    align-items: center;
}

.ai-end {
    align-items: flex-end;
}

.w-auto {
    width: auto;
}

.h-auto {
    height: auto;
}

.w-fill-available {
    width: -webkit-fill-available;
}

.h-fill-available {
    height: -webkit-fill-available;
}

.d-flex {
    display: flex;
}

.overflow-y {
    overflow-y: auto;
}

.overflow-x {
    overflow-x: auto;
}

.overflow {
    overflow: auto;
}

.overflow-hiden {
    overflow: hidden;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

$i: 0;
$n: 0;
@while $i <= 5 {
    @include padding($i, $n);
    @include margin($i, $n);
    @include z-index($n);
    $i: $i + 0.5;
    $n: $n + 1;
}

$i: 0;
@while $i <= 100 {
    @include width($i);
    @include height($i);
    @include position($i);
    $i: $i + 1;
}
