@import 'src/styles/variables.scss';

body {
    font-family: Lato, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
    background-color: $white;
    @media only screen and($mobile-size) {
        font-size: 12px;
    }
}

html::-webkit-scrollbar, .scroll-theme::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

html::-webkit-scrollbar-thumb, .scroll-theme::-webkit-scrollbar-thumb {
    background: $secundary;
    border-radius: 6px;
}
