@import '../variables.scss';

.Header {
  display: flex;
  justify-content: space-between;
  z-index: 5;
  height: 3.5rem;
  position: fixed;
  width: 100%;
  left: 0;
  background: linear-gradient(70deg, rgba(255,255,255,1) 0%, rgba(33,89,104,1) 44%);
  --selection-color: var(--text-color);

  @media only screen and ($mobile-width-portrait) and ($mobile-height-portrait) {
    background: none;
  }

}

.Header .Brand {
  margin: 0;
  padding: 1rem;
  padding-right: 20%;
}