.TimeLineDesc {
  width: 44%;
  box-shadow: var(--box-shadow-card);
  border-radius: 0.4rem;
  height: fit-content;
  overflow: auto;
  background-color: var(--time-line-color);
  color: var(--time-line-text);
  padding: 0.5rem;
  opacity: 0;
  transition: opacity ease 1s;

  &.intersected {
    opacity: 1;
  }

  p {
    margin: 0;
  }
}
