@import '../variables.scss';

.Card {
  display: flex;
  box-shadow: var(--box-shadow-card);
  align-items: center;
  border-radius: 0.4rem;
  width: 23%;
  margin: 0 1rem 1rem 0;

  @media only screen and ($mobile-width-landscape) {
    width: 30%;
  }

  @media only screen and ($mobile-width-portrait) {
    width: 45%;
  }
}

.Card__image {
  width: 3rem;
}

.Card__description {
  margin-left: 0.5rem;
}