@import '../variables.scss';

.Card {
  display: flex;
  box-shadow: var(--box-shadow-card);
  border-radius: 0.4rem;
  height: 3rem;
  margin: 0 0.9rem 0.9rem 0;
  padding: 0.1rem;
  align-items: stretch;
}

.Card__description {
  margin: auto 0 auto 0.5rem
}