<div class="background-shape"></div>
<div class="row w-100 h-100">
    <div class="h-100 col jc-center">
        <div class="col social-media m-1 pt-2 pb-2">
            <a href="https://linkedin.com/in/jose-francisco-casales-huerta-170735176" target="blank">
                <img class="p-1 social-media-icon" src="assets/icons/linkedin.png" alt="linkedin">
            </a>
            <a href="https://github.com/FranciscoCasales" target="blank">
                <img class="p-1 social-media-icon" src="assets/icons/github.png" alt="github">
            </a>
        </div>
    </div>
    <div class="h-100 col jc-center home-wrapper ml-10 mr-4 z-index-1">
        <h2 class="color-secundary">Hello I'm</h2>
        <h1>Jose Francisco Casales Huerta</h1>
        <p>Professional Web Developer</p>
        <p>With experience in Angular, building great style apps and following best practices to mantain the scalability</p>
    </div>
    <div class="photo">

    </div>
</div>