@import 'src/styles/variables.scss';

.background-shape {
    position: absolute;
    height: 120vh;
    width: 100vw;
    background-color: $secundary;
    top: -15vh;
    left: 50vw;
    transform: skew(20deg);
    @media only screen and($mobile-size) {
        display: none;
    }
}

.social-media {
    border: 1px solid rgba(0, 167, 142, 0.21);
    border-radius: 50px;
}

.home-wrapper {
    width: 40%;
    @media only screen and($mobile-size) {
        width: 72%;
    }
}

.social-media-icon {
    filter: grayscale(1) opacity(0.7);
    &:hover {
        filter: unset;
    }
}