<section class="row jc-space-around pt-2 pb-2 nav_bar-wrapper">
    <div class="background-shape"></div>
    <span><strong>Francisco</strong><strong class="color-secundary">Casales</strong></span>
    <ul class="row m-0 nav-bar f-bold">
        <li class="pl-3 col link-decorator">
            <a [routerLink]="['/home']" routerLinkActive="color-white selected-route">Home</a>
            <span></span>
        </li>
        <li class="pl-3 col link-decorator">
            <a [routerLink]="['/about']" routerLinkActive="color-white selected-route">About</a>
            <span></span>
        </li>
        <li class="pl-3 col link-decorator">
            <a [routerLink]="['/portfolio']" routerLinkActive="color-white selected-route">Portfolio</a>
            <span></span>
        </li>
    </ul>
</section>